.user-layout {
  margin-left: 248px;
  padding-top: 66px;
  min-height: 100vh;
  background: #f4f6fb;
}

@media (max-width: 768px) {
  .user-layout {
    margin-left: 0 !important;
    padding-top: 0;
  }
}